
path {
  cursor: pointer;
  fill: #222222;
  stroke: dodgerblue;
  stroke-width: 2px;
}


.selectedArea {
  fill: lightsteelblue;
}

.button {
  display: block;
  font-size: 5em;
  cursor: pointer;
}
